.imageContainer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.containerStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  position: relative;
  height: 55vh;
  background: rgba(0, 0, 0, 0.35);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  max-width: 600px; 
  padding: 10px; 
}

@media (max-width: 768px) {
  .containerStyle {
    height: 60vh; 
  }

  .contentContainer {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .containerStyle {
    height: 70vh;
  }

  .contentContainer {
    padding: 20px;
  }
}
