
.slick-dots li button:before {
  font-size: 12px; 
  color: #E3E3E3; 
  opacity: 1; 
}


.slick-dots li.slick-active button:before {
  color: #5BC1ED; 
  opacity: 1; 
}

.slick-dots li {
  margin: 0 5px; 
}
.slider{
  justify-self: center;
  width:98vw;
   max-width:1100px;
    padding-left:10px;
  margin-top: -100px
}
.nextButton{
  display: block;
  background: #EEF7FB;
  color: white;
  border-radius: 50%;
  right: -5vw;
  position: absolute;
  top: 50%;
  cursor: pointer;
  font-size: 30px;
  width: 60px;
  height: 60px;
  text-align: center;
}
@media  (max-width: 1360px) {

  .slider{
    max-width:  800px;
  
  }

}
@media (max-width:890px) {
  .nextButton{
    right: 0vw;
  }
  
}
@media (max-width:945px) {
  .slider{
    max-width:  360px;
  
  }
  .nextButton{
    right: -10vw;
  }
}

@media (max-width:770px) {
  .nextButton{
    right: -10vw;
  }
}
@media (max-width:480px) {
  .slider{
    max-width:  320px;
  
  }
  .nextButton{
    right: 0vw;
  }
}