.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100vw;
}

.quizWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 1115px;
  text-align: center;
}

.progressWrapper {
  position: absolute;
  left: 80vw;
  top: 22vh;
}

@media (max-width: 768px) {
  .progressWrapper {
    left: 50vw;
    top: 10vh;
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 480px) {
  .quizWrapper {
    padding-top: 10rem;
  }

  .progressWrapper {
    left: 50vw;
    top: 5rem;
    transform: translate(-50%, -50%);
  }
}

.headerContainer {
  max-width: 470px;
  height: 88px;
  padding-bottom: 32px;
}

.options {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 32px 0;
}
