.informationCard {
    max-width: 280px;
    width: 85vw;
    border-radius: 8px;
    background-color: #EEF7FB;
    padding: 35px;
}

@media (max-width: 480px) {
    .informationCard {
        width: 80%;
        padding-bottom: 80px;
    }


}

@media (max-width: 480px) {
    .informationCard {
        width: 75%;
        padding-bottom: 80px;
    }

}