.card-wrapper {
    width: 350px;
    height: 420px;
    padding-bottom: 70px;
  }
  
  .card-image-wrapper {
    border-radius: 8px;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
    background-color: white;
  }
  
  .wishlist-button {
    width: 100%;
    text-align: right;
    background: transparent;
    border: none;
    font-size: 30px;
  }
  
  .favorite-icon {
    width: 24px;
    height: 24px;
    border-color: red;
    padding-top: 10px;
    margin-left: 90%;
  }
  
  .product-image {
    width: 310px;
    height: 305px;
    margin-left: 20px;
  }
  
  .product-title {
    font-size: 24px;
    font-family: "Grange";
    font-weight: 600;
    line-height: 26.4px;
    text-align: center;
  }
  
  .product-price {
    font-size: 18px;
    font-family: "Grange";
    font-weight: 500;
    line-height: 19.8px;
    text-align: center;
    margin: 0;
  }
  