
.submit-button {
    padding: 14px 35px;
    height: 47px;
    border-radius: 8px;
    background-color: #C3EDFF;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

