.submit-button {
    padding: 14px 35px;
    height: 47px;
    border-radius: 8px;
    background-color: #C3EDFF;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.submit-button-text {
    font-family: 'Proxima Nova', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #1C2635;
    margin: 0;
}
